.add_detail{
	width:80%;
	margin: auto;
	padding-top: 30px;
	.add_input{
		width:60%;
	}
	.add_img{
		width:1.5rem;
		height:1.5rem;
		border:1px dashed #333;
		text-align: center;
		line-height: 1.5rem;
		color:#d6d6d6;
		margin-top: 0.3rem;
		margin-left: 0.2rem;
		border-radius:8px;
		cursor: pointer;
		position: relative;
		input{
			position: absolute;
			width:100%;
			height:100%;
			display: block;
			top:0;
			left: 0;
			opacity: 0;
		}
		img{
			width:100%;
		}
	}
	.add_title{
		height: 40px;
		line-height: 40px;
		margin-bottom: 20px;
		span{
			font-size: 16px;
			margin-right: 10px;
		}
		input{
			height:30px;
			width:80%;
		}
	}
	.add_tag{
		height: 40px;
		line-height: 40px;
		margin-bottom: 20px;
		span{
			font-size: 16px;
			margin-right: 10px;
		}
		input{
			height:30px;
			width:80%;
		}

	}
	.add_desc{
		line-height: 40px;
		margin-bottom: 20px;
		span{
			font-size: 16px;
			margin-right: 10px;
		}
		textarea{
			height:80px;
			width:80%;
		    vertical-align: text-top;
		}

	}
	.upHtml{
		cursor: pointer;
		width:60px;
		height:40px;
		background-color: #80ca68;
		color:#fff;
		margin:auto;
		text-align: center;
		line-height: 40px;
		margin-top: 20px;
	}
}